body {
    background-color: #FFE600;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    align-items: center;
    padding: 2%;
}
.logo {
    width: 166px;
    height: 52px;
    margin-right: 20px;
}
.header-text h1, .header-text p {
    margin: 0;
}
.text-entry, .parameters {
    padding: 2%;
    text-align: left;
}
.parameters {
    padding: 2%;
    padding-top: 0;
    text-align: left;
}
.text-entry, .header {
    background-color: black;
    color: #FFE600;
}
.footer {
    padding: 20px;
    text-align: center;
}
.parameter-left, .parameter-right, .text-area {
    margin: 0px;
}
.parameter-left, .parameter-right {
    display: inline-block;
    vertical-align: top;
}
.parameter-left {
    width: 20%;
}
.parameter-right {
    width: 75%;
    float: right;
}
.text-area {
    width: 48%; /* 调整宽度以适应并列显示 */
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    overflow: auto;
    box-sizing: border-box;
}
.text-areas-container {
    display: flex; /* 使文本框并列显示 */
    justify-content: space-between; /* 在文本框之间留有空间 */
}
button {
    background: #000;
    color: #FFE600;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
.parameter-right textarea {
    width: 100%;
    box-sizing: border-box; /* 确保内边距和边框不会导致额外的宽度 */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    overflow: auto;
}